.dial-container {
	font-family: "Roboto", sans-serif;
	overscroll-behavior: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Merriweather", serif;
	margin: 0;
}
.dial-container {
	/* margin: 5em auto; */
	text-align: center;
}
ul, ol {
	text-align: left;
	/* margin:  0 auto; */
}
.secret-message {
	transition: opacity 1s;
	opacity: 0;
}
.secret-message.revealed {
	opacity: 1;
}
.digits {
	margin: 1em auto;
}
.digits.correct span {
	border-color: #8cb369;
	color: #8cb369;
}
.digits.wrong span {
	border-color: #ed252f;
	color: #ed252f;
}
.digits span {
	font-weight: bold;
	color: #111;
	display: inline-block;
	margin: .5em;
	border-bottom: 2px solid #aaa;
	min-width: 1em;
	height: 1em;
	vertical-align: middle;
	padding: 2px;
}
.dial {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #444;
	color: white;
	position: relative;
	border: 3px solid #aaa;
}
.marker {
	margin: 0 auto;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
	bottom: 100%;
	font-weight: bold;
}
.dial::after {
	position: absolute;
	display: block;
	content: "";
	background-color: black;
	width: calc(100% - 3em);
	height: calc(100% - 3em);
	border-radius: 50%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	box-sizing: border-box;
	border: 3px solid #333;
}
.dial span {
	padding: 2px;
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	box-sizing: border-box;
}
